- options = { height: '170px',
    title: { display: true, fontSize: 14, text: "Clients Operating System" },
    legend: { display: false, position: 'right', labels: { boxWidth: 10 } },
    scale: { ticks: { beginAtZero: true } } }
= doughnut_chart get_platform_category(obj), options
