- options = { height: '80px',
    title: { display: true, fontSize: 14, text: "Events Timeline" },
    legend: { display: false, position: 'right', labels: { boxWidth: 10 } },
    scale: { ticks: { beginAtZero: true } } }
= bar_chart get_activity_hours(obj), options
