- options = { height: '170px',
    title: { display: true, fontSize: 14, text: "Clients Browser" },
    legend: { display: false, position: 'right', labels: { boxWidth: 10 } },
    scale: { ticks: { beginAtZero: true } } }
= doughnut_chart get_browser_category(obj), options
